@use "@/styles/_mixins" as *;

.profile-page {
  background-color: #e6f2ff;
  display: flex;
  flex: 1;
  flex-direction: column;

  .profile-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    margin: 0 auto;
    padding: 2rem;

    & h1 {
      font-size: 2.5rem;
      color: #1e40af;
      margin-bottom: 0.5rem;

      @include tablet {
        font-size: 2rem;
      }

      @include mobile-medium {
        font-size: 1.7rem;
      }

      @include mobile-small {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1.2rem;
      color: #475569;
      margin-bottom: 2rem;

      @include tablet {
        font-size: 1rem;
      }

      @include mobile-medium {
        font-size: 0.95rem;
      }

      @include mobile-small {
        font-size: 0.85rem;
      }
    }

    > *:not(:last-child) {
      margin-bottom: 2rem;

      @include tablet {
        margin-bottom: 1.5rem;
      }

      @include mobile-medium {
        margin-bottom: 1rem;
      }

      @include mobile-small {
        margin-bottom: 0.8rem;
      }
    }

    // Зменшуємо паддінги самого контейнера
    @include tablet {
      padding: 1.5rem;
    }

    @include mobile-medium {
      padding: 1rem;
    }

    @include mobile-small {
      padding: 0.8rem;
    }
  }
}
